<!-- <h1 class="p-4 alert-success text-center">Singlefile</h1> -->

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 text-center">
            <p>
                {{res1}} <!-- string Interpolation -->
            </p>
            <p [innerHTML]="res1"> <!-- property Binding -->

            </p>
            <input type="text" class="form-control mb-3" [value]="goal1">
            <button class="btn btn-outline-primary mb-3" [disabled]="disabled1">Add product</button>
            <!-- <button class="btn btn-outline-success mb-3" [disabled]="disabled1">add product</button> -->
        </div>
    </div>
</div>


<!-- difference between string interpolation and property binding -->
<!-- >> data received in form of html element string interpolation wont work
 it will contact html element but property binding avoid concat of html element-->

 <!-- >> string interpolation wont work on self close tage (empty tage) -->

 <!-- >> Databinding -->

<!-- the communication / transfer of data from template to ts or vice versa called data-binding -->

<!-- {{}} >> string interpolation syntax >> one way binding >> ts to template --> 
<!-- [] >> property binding syntax >> one way binding >> ts to template -->
<!-- () >> event binding syntax >> one way binding >>  template to ts  -->
<!-- [] + () = [()] >> event binding syntax >> two way data - binding >>  template to ts | ts to template  -->

<!-- Template element in Angular behaves in both ways as html element as well as doc.obj -->

