<h2 class="alert-info p-4 text-dark text-center">Angular 14</h2>

<app-product></app-product>


<app-singleFile></app-singleFile>


<app-products></app-products>


<!-- <app-product1></app-product1>  -->
<!-- <div app-product1></div> -->
 <div class="app-product1"></div>


<app-directive></app-directive>


<div class="container">
    <app-skill-sets></app-skill-sets>
    <hr>
    <app-std-table></app-std-table>
    <hr>
    <app-posts></app-posts>
    <hr>
    <app-todos></app-todos>
    <hr>
    <app-tabs></app-tabs>
</div>





